In [30]:
import pandas as pd
import requests
import json

In [31]:
bs = requests.get(f'https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/AAPL?period=quarter')
bs = bs.json()
bs = bs['financials']

In [32]:
# Turn the json date into a dataframe
balance_sheet = pd.DataFrame.from_dict(bs)

In [33]:
balance_sheet.head()

,date,Cash and cash equivalents,Short-term investments,Cash and short-term investments,Receivables,Inventories,Total current assets,"Property, Plant & Equipment Net",Goodwill and Intangible Assets,Long-term investments,...,Deposit Liabilities,Total non-current liabilities,Total liabilities,Other comprehensive income,Retained earnings (deficit),Total shareholders equity,Investments,Net Debt,Other Assets,Other Liabilities
0,2019-12-28,39771000000.0,67391000000.0,1.07162e+11,20970000000.0,4097000000.0,1.63231e+11,37031000000.0,0.0,99899000000.0,...,0.0,1.48926e+11,2.51087e+11,41587041000,43977000000.0,89531000000.0,1.6729e+11,63531000000.0,0.0,0.0
1,2019-09-28,48844000000.0,51713000000.0,1.00557e+11,22926000000.0,4106000000.0,1.62819e+11,37378000000.0,0.0,1.05341e+11,...,0.0,1.4231e+11,2.48028e+11,40730764000,45898000000.0,90488000000.0,1.57054e+11,53223000000.0,0.0,0.0
2,2019-06-29,50530000000.0,44084000000.0,94614000000.0,14148000000.0,3355000000.0,1.34973e+11,37636000000.0,0.0,1.15996e+11,...,0.0,1.36079e+11,2.25783e+11,38839605000,53724000000.0,96456000000.0,1.6008e+11,47935000000.0,0.0,0.0
3,2019-03-30,37988000000.0,42104000000.0,80092000000.0,15085000000.0,4884000000.0,1.23346e+11,38746000000.0,0.0,1.45319e+11,...,0.0,1.42366e+11,2.36138e+11,38193716000,64558000000.0,1.0586e+11,1.87423e+11,62718000000.0,0.0,0.0
4,2018-12-29,44771000000.0,41656000000.0,86427000000.0,18077000000.0,4988000000.0,1.40828e+11,39597000000.0,0.0,1.58608e+11,...,0.0,1.47544e+11,2.55827e+11,36240197000,80510000000.0,1.17892e+11,2.00264e+11,57990000000.0,0.0,0.0

In [38]:
balance_sheet.shape

(43, 30)

In [75]:
balance_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             43 non-null     object
 1   Cash and cash equivalents        43 non-null     object
 2   Short-term investments           43 non-null     object
 3   Cash and short-term investments  43 non-null     object
 4   Receivables                      43 non-null     object
 5   Inventories                      43 non-null     object
 6   Total current assets             43 non-null     object
 7   Property, Plant & Equipment Net  43 non-null     object
 8   Goodwill and Intangible Assets   43 non-null     object
 9   Long-term investments            43 non-null     object
 10  Tax assets                       43 non-null     object
 11  Total non-current assets         43 non-null     object
 12  Total assets                     43 non-null     object
 13  Payables                         43 non-null     object
 14  Short-term debt                  43 non-null     object
 15  Total current liabilities        43 non-null     object
 16  Long-term debt                   43 non-null     object
 17  Total debt                       43 non-null     object
 18  Deferred revenue                 43 non-null     object
 19  Tax Liabilities                  43 non-null     object
 20  Deposit Liabilities              43 non-null     object
 21  Total non-current liabilities    43 non-null     object
 22  Total liabilities                43 non-null     object
 23  Other comprehensive income       43 non-null     object
 24  Retained earnings (deficit)      43 non-null     object
 25  Total shareholders equity        43 non-null     object
 26  Investments                      43 non-null     object
 27  Net Debt                         43 non-null     object
 28  Other Assets                     43 non-null     object
 29  Other Liabilities                43 non-null     object
dtypes: object(30)
memory usage: 10.2+ KB

# Transpose Data

In [35]:
bs = balance_sheet.T
bs.columns = bs.iloc[0]
bs.head()

date,2019-12-28,2019-09-28,2019-06-29,2019-03-30,2018-12-29,2018-09-29,2018-06-30,2018-03-31,2017-12-30,2017-09-30,...,2011-09-24,2011-06-25,2011-03-26,2010-12-25,2010-09-25,2010-06-26,2010-03-27,2009-12-26,2009-09-26,2009-06-27
date,2019-12-28,2019-09-28,2019-06-29,2019-03-30,2018-12-29,2018-09-29,2018-06-30,2018-03-31,2017-12-30,2017-09-30,...,2011-09-24,2011-06-25,2011-03-26,2010-12-25,2010-09-25,2010-06-26,2010-03-27,2009-12-26,2009-09-26,2009-06-27
Cash and cash equivalents,39771000000.0,48844000000.0,50530000000.0,37988000000.0,44771000000.0,25913000000.0,31971000000.0,45059000000.0,27491000000.0,20289000000.0,...,9815000000.0,12091000000.0,15978000000.0,10734000000.0,11261000000.0,9705000000.0,10018000000.0,7609000000.0,5263000000.0,5605000000.0
Short-term investments,67391000000.0,51713000000.0,44084000000.0,42104000000.0,41656000000.0,40388000000.0,38999000000.0,42881000000.0,49662000000.0,53892000000.0,...,16137000000.0,16304000000.0,13256000000.0,16243000000.0,14359000000.0,14583000000.0,13137000000.0,17187000000.0,18201000000.0,18617000000.0
Cash and short-term investments,1.07162e+11,1.00557e+11,94614000000.0,80092000000.0,86427000000.0,66301000000.0,70970000000.0,87940000000.0,77153000000.0,74181000000.0,...,25952000000.0,28395000000.0,29234000000.0,26977000000.0,25620000000.0,24288000000.0,23155000000.0,24796000000.0,23464000000.0,24222000000.0
Receivables,20970000000.0,22926000000.0,14148000000.0,15085000000.0,18077000000.0,23186000000.0,14104000000.0,14324000000.0,23440000000.0,17874000000.0,...,5369000000.0,6102000000.0,5798000000.0,6027000000.0,5510000000.0,3447000000.0,2886000000.0,3090000000.0,5057000000.0,2686000000.0

In [36]:
bs.shape

(30, 43)

In [94]:
# Remove top row
cols = bs.columns
bs = bs.iloc[1:,]
#bs.head()
bs[cols]

date,2019-12-28,2019-09-28,2019-06-29,2019-03-30
Inventories,4.097000e+09,4.106000e+09,3.355000e+09,4.884000e+09
Total current assets,1.632310e+11,1.628190e+11,1.349730e+11,1.233460e+11
"Property, Plant & Equipment Net",3.703100e+10,3.737800e+10,3.763600e+10,3.874600e+10
Goodwill and Intangible Assets,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Long-term investments,9.989900e+10,1.053410e+11,1.159960e+11,1.453190e+11
Tax assets,0.000000e+00,1.964000e+10,0.000000e+00,0.000000e+00
Total non-current assets,1.773870e+11,1.756970e+11,1.872660e+11,2.186520e+11
Total assets,3.406180e+11,3.385160e+11,3.222390e+11,3.419980e+11

In [45]:
#Keep only 4 last 4 quarters(columns) and remove last 12 rows(liabilities & equites)
bs = bs.iloc[:12,:4]
cols = bs.columns
balance_sheet_assets = bs[cols].apply(pd.to_numeric, errors='coerce')

In [62]:
balance_sheet_assets

date,2019-12-28,2019-09-28,2019-06-29,2019-03-30
Receivables,2.097000e+10,2.292600e+10,1.414800e+10,1.508500e+10
Inventories,4.097000e+09,4.106000e+09,3.355000e+09,4.884000e+09
Total current assets,1.632310e+11,1.628190e+11,1.349730e+11,1.233460e+11
"Property, Plant & Equipment Net",3.703100e+10,3.737800e+10,3.763600e+10,3.874600e+10
Goodwill and Intangible Assets,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Long-term investments,9.989900e+10,1.053410e+11,1.159960e+11,1.453190e+11
Tax assets,0.000000e+00,1.964000e+10,0.000000e+00,0.000000e+00
Total non-current assets,1.773870e+11,1.756970e+11,1.872660e+11,2.186520e+11
Total assets,3.406180e+11,3.385160e+11,3.222390e+11,3.419980e+11

In [102]:
bs_format = (balance_sheet_assets/100000000)
bs_format

date,2019-12-28,2019-09-28,2019-06-29,2019-03-30
Receivables,209.70%,229.26%,141.48%,150.85%
Inventories,40.97%,41.06%,33.55%,48.84%
Total current assets,1632.31%,1628.19%,1349.73%,1233.46%
"Property, Plant & Equipment Net",370.31%,373.78%,376.36%,387.46%
Goodwill and Intangible Assets,0.00%,0.00%,0.00%,0.00%
Long-term investments,998.99%,1053.41%,1159.96%,1453.19%
Tax assets,0.00%,196.40%,0.00%,0.00%
Total non-current assets,1773.87%,1756.97%,1872.66%,2186.52%
Total assets,3406.18%,3385.16%,3222.39%,3419.98%

In [50]:
balance_sheet_assets.shape

(9, 4)

In [76]:
balance_sheet_assets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, Receivables to Total assets
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2019-12-28  9 non-null      float64
 1   2019-09-28  9 non-null      float64
 2   2019-06-29  9 non-null      float64
 3   2019-03-30  9 non-null      float64
dtypes: float64(4)
memory usage: 680.0+ bytes

# Divide each balance sheet items in a quarter by the Total assets

In [81]:
assetsQ1 = balance_sheet_assets.iloc[8,0]
assetsQ1

340618000000.0

In [83]:
assetsQ2 = balance_sheet_assets.iloc[8,1]
assetsQ2

338516000000.0

In [86]:
assetsQ3 = balance_sheet_assets.iloc[8,2]
assetsQ3

322239000000.0

In [87]:
assetsQ4 = balance_sheet_assets.iloc[8,3]
assetsQ4

341998000000.0

In [89]:
all_assets = [assetsQ1,assetsQ2,assetsQ3,assetsQ4]
all_assets

[340618000000.0, 338516000000.0, 322239000000.0, 341998000000.0]

In [106]:
assets = (bs[cols] / all_assets)*100
assets

date,2019-12-28,2019-09-28,2019-06-29,2019-03-30
Inventories,1.20%,1.21%,1.04%,1.43%
Total current assets,47.92%,48.10%,41.89%,36.07%
"Property, Plant & Equipment Net",10.87%,11.04%,11.68%,11.33%
Goodwill and Intangible Assets,0.00%,0.00%,0.00%,0.00%
Long-term investments,29.33%,31.12%,36.00%,42.49%
Tax assets,0.00%,5.80%,0.00%,0.00%
Total non-current assets,52.08%,51.90%,58.11%,63.93%
Total assets,100.00%,100.00%,100.00%,100.00%

In [113]:
pd.options.display.float_format = '{:.2f}%'.format